      html,
      body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
	border: black 2px solid;
      }
      #gridDiv {
        padding: 8px;
        max-width: 800px;
		z-Index:999;
		max-height:400px;
      }      
	  #instructDiv {
		margin-top:44px;
        padding: 10px;
        max-width: 380px;
      }
      #viewDiv {
        height: 100%;
        width: 100%;
      }
      #theButtons {
        margin-top: 5px;
        display: none;
      }           
	  #clearButton {
        margin-top: 5px;
        //display: none;
      }     
      #hideShowButton {
        margin-top: 5px;
		//display: none;
      }
      .dgrid {
        height: auto !important;
		font-size:14px;
      }
      .dgrid-cell {
        border-style:none !important;
      }
	  .dgrid-row {
       min-height: 12px;
	   border-style:none;
      }
      .dgrid .dgrid-scroller {
        position: relative;
        max-height: 130px;
        overflow: auto;
      }
      .dijitMenuItem {
       background-color: white;
      }
      .dgrid-column-Town {
       display:none;
      }
	  .dgrid-column-Most_Recent_Observation {
       max-width:90px;
      }
	  .dgrid-column-MESA_Status {
       max-width:90px;
	  }
	  #mesa_obs{
	   margin-left:20px;
	   font-weight: bold;
	  }
